.panel.panel-default
  .panel-heading
    %h3.panel-title= t(kind, count: 2)
  .panel-body
    %table.table.table-normal
      %tr
        %th= t(:name)
        %th.hidden-xs= t(:type)
        %th= t(:amount)
        %th= t(:datetime)
        %th.hidden-xs
      - @entries[kind.pluralize.to_sym].each do |entry|
        %tr
          %td= entry.display_name
          %td.hidden-xs= entry.type_name
          %td= entry.amount
          %td= l(entry.created_at)
          %td.hidden-xs
            = link_to entry, method: :delete do
              .close &times;
      %tr
        %td.hidden-xs
        %td= t(:total)
        %td.bold= @entries["total_#{kind.pluralize}".to_sym]
        %td
        %td.hidden-xs
    = paginate @entries[kind.pluralize.to_sym], param_name: "page_#{kind.pluralize}"
