%form.form-inline
  .form-group
    = text_field_tag nil, nil, placeholder: t(:add_expense), class: 'form-control'
  .form-group
    = number_field_tag nil, nil, min: 0, placeholder: t(:amount), class: 'form-control'
  .form-group
    = select_tag nil, options_from_collection_for_select(@user_data[:expense_types], 'id', 'name'), class: 'form-control', required: true
  = submit_tag t(:add), class: 'btn btn-default'
.height-20
.panel.panel-default
  .panel-heading
    %h3.panel-title= t(:expense, count: 2)
  .panel-body
    %table.table.table-normal
      %tr
        %th= t(:name)
        %th.hidden-xs= t(:type)
        %th= t(:amount)
        %th= t(:datetime)
        %th.hidden-xs
      - @user_data[:expenses].each do |expense|
        %tr
          %td= expense.name
          %td.hidden-xs= expense.type_name
          %td= expense.amount
          %td= l(expense.created_at)
          %td.hidden-xs
            .close &times;
      %tr
        %td.hidden-xs
        %td= t(:total)
        %td.bold= @user_data[:expenses].total_amount
        %td
        %td.hidden-xs
