.panel.panel-success{ 'ng-controller' => 'IncomesCtrl' }
  .panel-heading
    %h3.panel-title= t(:income, count: 2)
  .panel-body
    %table.table.table-highlight
      %tr
        %th= t(:name)
        %th= t(:type)
        %th= t(:amount)
        %tr{ 'ng-repeat' => 'income in incomes' }
          %td {{income.name}}
          %td {{income.entry_type_id}}
          %td {{income.amount}}
        %tr
          %td
          %td= t(:total)
          %td.bold {{total()}}
%form.form-inline{ 'ng-submit' => 'create()' }
  .form-group
    = text_field_tag nil, nil, placeholder: t(:name), class: 'form-control', 'ng-model' => 'newIncome.name'
  .form-group
    = number_field_tag nil, nil, min: 0, placeholder: t(:amount), class: 'form-control', 'ng-model' => 'newIncome.amount'
  .form-group
    = select_tag nil, options_from_collection_for_select(@income_types, 'id', 'name'), class: 'form-control', 'ng-model' => 'newIncome.entry_type_id', required: true
  = submit_tag t(:add), class: 'btn btn-default'
