.page-header
  %h1 Dashboard

.row
  .col-md-6
    = render 'form'
    = render 'entries', kind: 'expense'
    = render 'entries', kind: 'income'
  .col-md-6
    = render 'summary'
    = render 'chart'
