.page-header
  %h1 Dashboard

.row
  .col-md-6
    = render 'entries', kind: 'expense'
    = render 'entries', kind: 'income'
  .col-md-6
    = render 'summary'
    = render 'chart'

- content_for :javascript_includes do
  = javascript_include_tag 'highcharts', 'chartkick'
