.page-header
  %h1 Dashboard

#entries{ 'ng-controller' => 'EntriesCtrl' }
  .row.bottom-20
    .col-md-6
      = render 'expenses'
      .height-20
      = render 'incomes'
    .col-md-6{ 'ng-if' => 'renderChart()' }
      %highchart#chart1{ config: 'chartConfig' }

- content_for :javascript_includes do
  = javascript_include_tag 'highcharts'
  = javascript_include_tag 'angular'
  = javascript_include_tag 'angular-resource'
  = javascript_include_tag 'highcharts-ng'
  = javascript_include_tag 'dashboard'
