- @user.errors.full_messages.uniq.each do |msg|
  .alert.alert-danger.fade.in
    = msg
    .close{ data: {dismiss: "alert" }} &times;

= form_for @user, html: { class: 'form col-md-6' } do |f|
  %fieldset
    %legend= @user.persisted? ? t(:edit_user) : t(:new_user)
    .form-group
      = f.label :name, t(:name)
      = f.text_field :name, placeholder: t(:name), class: 'form-control'
    .form-group
      = f.label :email, t(:email)
      = f.text_field :email, placeholder: t(:email), class: 'form-control'
    .form-group
      = f.label :password, t(:password)
      = f.password_field :password, placeholder: t(:password), class: 'form-control'
    .form-group
      = f.label :password_confirmation, t(:password_confirmation)
      = f.password_field :password_confirmation, placeholder: t(:password_confirmation), class: 'form-control'

    = f.submit nil, class: 'btn btn-success'

:javascript
  $('#nav-users').addClass('active');