.col-md-4.col-md-offset-4
  = form_for(resource, as: resource_name, url: password_path(resource_name),
                       html: { method: :put, class: 'form' }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %legend= t(:change_your_password)
    .form-group
      = f.label :password, "New password"
      = f.password_field :password, autofocus: true, autocomplete: "off",
                                    class: 'form-control'
    .form-group
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, autocomplete: "off",
                                                 class: 'form-control'
    = f.submit "Change my password", class: 'btn btn-primary btn-block'
  = render "devise/shared/links"
