%table.table.table-hover
  %tr
    %th= t(:name)
    %th= t(:amount)
    %th= t(:positive)
    %th
    %th

  - @entry_types.each do |type|
    %tr
      %td= type.name
      %td= type.amount
      %td= check_box_tag nil, nil, type.positive, disabled: true
      %td= link_to t(:edit), edit_entry_type_path(type), class: 'btn btn-warning', id: "edit-entry-type-#{type.id}"
      %td= link_to t(:delete), type, data: { confirm: t(:sure) }, method: :delete, class: 'btn btn-danger', id: "destroy-entry-type-#{type.id}"

= link_to t(:new_entry_type), new_entry_type_path, class: 'btn btn-success'
