!!!
%html
  %head
    %title Finance planner
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "login", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body
    .container
      = render 'layouts/alerts'
      = form_tag({}, {class: 'form col-md-4 col-md-offset-4'}) do
        %fieldset
          %legend= t(:please_login)
          .form-group
            = label_tag :email, t(:email)
            = text_field_tag :email, params[:email], placeholder: t(:email), class: 'form-control'
          .form-group
            = label_tag :password, t(:password)
            = password_field_tag :password, params[:password], placeholder: t(:password), class: 'form-control'
          = submit_tag t(:login) , class: 'btn btn-success btn-block'